@model CodeFirstAproach.Models.ProjectAssignDeveloper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectAssignDeveloper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Developer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectAssignDeveloperId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
